<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="index.html">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Add New Customer</span>
    </li>
  </ul>
</div>

<!-- BEGIN PAGE TITLE-->
<h1 class="page-title hb-page-title"> Add New Customer
  <small></small>
</h1>
<!-- END PAGE TITLE-->

<div class="content">

  <!-- BEGIN SAMPLE FORM PORTLET-->
  <div class="portlet light bordered stock-manually">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase">Customer Info</span>
      </div>
    </div>
    <div class="portlet-body form">
      <form role="form" name="$ctrl.customerNewForm">
        <div class="form-body">

          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.firstName.$invalid && $ctrl.customerSubmitBtnClicked }">
              <input id="form_firstName" name="firstName" type="text" class="form-control" ng-model="$ctrl.customerNew.firstName" required>
              <span ng-show="$ctrl.customerNewForm.firstName.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <label for="form_firstName">First Name</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.lastName.$invalid && $ctrl.customerSubmitBtnClicked }">
              <input id="form_lastName" name="lastName" type="text" class="form-control" ng-model="$ctrl.customerNew.lastName" required>
              <span ng-show="$ctrl.customerNewForm.lastName.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <label for="form_lastName">Last Name</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.birthday.$invalid && $ctrl.customerSubmitBtnClicked }">
              <!-- <input id="form_birthday" name="birthday" type="text" class="form-control" ng-model="$ctrl.customerNew.birthday" required> -->
              <input id="form_birthday" name="birthday" placeholder="Birthday" type="text" moment-picker max-date="$ctrl.maxDateBirthday" max-view="day" start-view="year" start-date="$ctrl.startDateBirthday" class="form-control" ng-model="$ctrl.customerNew.birthday" format="DD/MM/YYYY" required>
              <span ng-show="$ctrl.customerNewForm.birthday.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <!-- <label for="form_birthday">Birthday</label> -->
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.email.$invalid && $ctrl.customerSubmitBtnClicked }">
              <input id="form_email" name="email" type="text" class="form-control" ng-model="$ctrl.customerNew.email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
              <span ng-show="$ctrl.customerNewForm.email.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <label for="form_email">E-mail</label>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.phoneNumber.$invalid && $ctrl.customerSubmitBtnClicked }">
              <input id="form_phoneNumber" name="phoneNumber" type="text" class="form-control" ng-model="$ctrl.customerNew.phoneNumber" ng-pattern="/^[+0-9]{10,12}$/" required>
              <span ng-show="$ctrl.customerNewForm.phoneNumber.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <label for="form_phoneNumber">Phone Number</label>
            </div>
          </div>


          <div class="col-md-12">
            <div class="form-group form-md-line-input form-md-floating-label" ng-class="{ 'has-error' : $ctrl.customerNewForm.city.$invalid && $ctrl.customerSubmitBtnClicked }">
              <input id="form_city" name="city" type="text" class="form-control" ng-model="$ctrl.customerNew.city" required>
              <span ng-show="$ctrl.customerNewForm.city.$invalid && $ctrl.customerSubmitBtnClicked" class="help-block help-block-error">This field is invalid.</span>
              <label for="form_city">City</label>
            </div>
          </div>

          <div class="col-md-12 form-actions noborder">
            <button type="button" class="btn default">Cancel</button>
            <button type="button" ng-click="$ctrl.onNewCustomerSubmit()" ng-disabled="$ctrl.isNewCustomerProcessing" ng-class="{'processing': $ctrl.isNewCustomerProcessing}" class="btn blue">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->

  </div>